
    .backdrop-filter{
       background-color: white;
        }

         .object-position{
          object-fit: none; /* Do not scale the image */
          object-position: center; /* Center the image within the element */
          width: 100%;
          height: 800px;
          margin-bottom: 1rem;
         }
    